In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import altair as alt

In [2]:
file_url = r'https://raw.githubusercontent.com/sedeba19/Chapter-5/main/data/DataSet_taxstats2015.csv'

In [3]:
df = pd.read_csv(file_url)

In [4]:
X = df[['Average total business income', 'Average total business expenses']]

In [5]:
clusters = pd.DataFrame()
inertia = []
clusters['cluster_range'] = range(1, 15)

for k in clusters['cluster_range']:
    kmeans = KMeans(n_clusters=k).fit(X)
    inertia.append(kmeans.inertia_)

f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(

In [6]:
clusters['inertia'] = inertia
clusters

    cluster_range       inertia
0               1  1.333516e+13
1               2  7.063097e+12
2               3  3.718740e+12
3               4  2.341877e+12
4               5  1.714832e+12
5               6  1.224520e+12
6               7  9.422735e+11
7               8  7.488343e+11
8               9  6.348821e+11
9              10  5.638087e+11
10             11  5.104580e+11
11             12  4.596647e+11
12             13  4.196314e+11
13             14  3.961219e+11

In [7]:
alt.Chart(clusters).mark_line().encode(alt.X('cluster_range'), alt.Y('inertia'))

alt.Chart(...)

In [9]:
# look at the Elbow plot, identify the optimal number of clusters
optim_cluster = 4

In [11]:
kmeans = KMeans(random_state=42, 
                n_clusters=optim_cluster)
kmeans.fit(X)

f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
f:\USDSI Python Code\The-Data-Science-Workshop-master\env\lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=10.
  warnings.warn(

KMeans(n_clusters=4, random_state=42)

In [13]:
df['cluster2'] = kmeans.predict(X)
df['cluster2']

0       1
1       0
2       2
3       0
4       1
       ..
2468    0
2469    0
2470    0
2471    0
2472    3
Name: cluster2, Length: 2473, dtype: int32

In [14]:
df

,Postcode,Count taxable income or loss,Average taxable income or loss,Median taxable income or loss,Count salary and wages,Average salary and wages,Median salary and wages,Count net rent,Average net rent,Median net rent,...,Count total business expenses,Average total business expenses,Median total business expenses,Count net tax,Average net tax,Median net tax,Count super total accounts balance,Average super total accounts balance,Median super total accounts balance,cluster2
0,2000,36185,47723,18213,31293,38710,17992,3614,558,207,...,1331,222191,20773,17264,27555,5917,51394,68531,1110,1
1,2006,83,80905,58150,74,82733,67658,21,1042,-807,...,4,48971,18508,67,28142,19359,137,90315,15544,0
2,2007,4769,46549,31474,4153,47386,34366,548,-1242,-794,...,334,639499,9233,3071,15649,9115,6711,41670,5225,2
3,2008,5607,108816,41151,5008,53418,42892,612,1818,-1728,...,481,32173,9385,4061,53976,10583,7676,54245,10373,0
4,2009,9726,82938,50604,8167,74068,55243,1714,-2412,-1520,...,666,222993,11982,7358,32430,14835,12718,126486,20494,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2468,870,13409,57704,50609,12299,57827,52378,2515,-3284,-2657,...,872,44687,11366,11050,14788,10804,12755,97068,39639,0
2469,872,3520,39965,31883,3389,36355,29379,301,-4788,-2593,...,66,45670,8498,2314,9017,4614,3328,40555,12492,0
2470,880,633,56522,42004,586,57525,43230,179,-4964,-3732,...,39,28700,6047,460,16574,10758,588,90488,32574,0
2471,885,600,86713,68314,563,88820,75159,239,-8280,-5498,...,25,39850,7807,491,28795,21326,586,127863,71318,0
2472,886,808,63557,53781,772,65861,56291,192,-5081,-3146,...,26,90120,18718,634,18141,14250,774,91023,50926,3

In [19]:
# Plot a scatter plot of the data with the cluster labels
alt.Chart(df).mark_circle().encode(x='Average total business income', 
               y='Average total business expenses', 
               color='cluster2:N', 
               tooltip=['Postcode', 'cluster2', 
                        'Average total business income',
                        'Average total business expenses']).interactive()

alt.Chart(...)